<html>
  <head>
    <title>Depression</title>
    <link type="text/css" rel="stylesheet" href="../resources/text.css"></link>
    <link href="https://fonts.googleapis.com/css?family=Delius|Kalam|Pacifico|Short+Stack|Walter+Turncoat" rel="stylesheet">
  </head>

  <body>

<div class = "background">

<!-- Header -->

    <div class="static"><ul>
      <li><a href="loginHome.html"><img src="/resources/HomeIcon.png"></a>
      <li><a href="status.html">Status</a>
      <li><a href="uploadPage.html">Update</a>
      <li><a href="resources.html">Resources</a>
      <li><a href="index2.html">Site Info</a>
      <li style="float:right" class="user">Welcome, User</a>
    </div></ul>

<!-- Content -->
<div class="static2">
<div class="moving"><h1>Depression Hotline</h1>
<section class="transbox">
  <div class="together"><p><h5>We want to raise awareness about depression and
    the different stages of depression and provide information on strategies to
    minimize the symptoms of depression.<br><br>

    Today, depression is a serious problem with the disorder affecting about 14.8
    million American adults. 1 in 33 children and 1 in 8 adolescence have clinical
    depression, which means that depression is a disorder that does not know age or
    race. Many may think that depression only affects the emotions, but people with
    depression are four times as likely to develop a heart attack and can occur with
    other medical conditions like cancer and strokes. More seriously, depression can
    lead to suicide, as over 2/3 of the 30,000 reported suicides in the US each year
    are caused by depression. In youths, suicide even is the third leading cause of
    death in 15 to 24 year olds.<br><br>

    There needs to be more talk about depression and how to help people with it.
    Oftentimes, friends of victims will feel helpless and guilty about the victim's
    depression, but we want them to think that they can do something to help their
    friend even if it means just letting the friend know that their life if valued.<br><br>

    With this webapp, people can determine what stage of depression their friend
    might be in and what they can do to help their friend. The webapp uses a natural
    language processor process negativity and emotion in text from screenshots of
    conversation or posts. It then uses the data from the processor and outputs a
    suggestion for the user as to what they can do to help their friend. <br><br></h5></p>
</div></div></div>

<!-- Footer -->
</section>
</div>
</body>
