<!doctype html>
<html>
    <head></head>
    <h1>Welcome to Squirrel-Upload</h1>
    <form action = "upload" method="post" enctype="multipart/form-data" >
        Select image to upload:
        <input type="text" name="filename"  id="filename">
        <input type="file" name="files"  id="files" multiple>
        <input type="submit" value="Upload Image" name="submit">
    </form>
</html>

<html>
  <head>
    <title>Depression</title>
    <link type="text/css" rel="stylesheet" href="resources/text.css"></link>
    <link href="https://fonts.googleapis.com/css?family=Delius|Kalam|Pacifico|Short+Stack|Walter+Turncoat" rel="stylesheet">
  </head>

  <body>

<div class = "background">  

<!-- Header -->

    <div class="static"><ul>
      <li><a href="index.html"><img src="resources/HomeIcon.png"></a>
      <li><a href="resources2.html">Resources</a>
      <li><a href="index3.html">Site Info</a>
      <li style="float:right"><a href="loginPage.html">Login</a>
    </ul></div>

<!-- Content -->
    <div class="static2">
    <div class="moving"><h1 class="open">Depression Hotline</h1>
    <div><a href="loginPage.html"><button type="button">GET STARTED</button></div>
    </div></div>

<!-- Footer -->
</section>
</div>
</body>
