<html>
  <head>
    <title>Depression</title>
    <link type="text/css" rel="stylesheet" href="../resources/text.css"></link>
    <link href="https://fonts.googleapis.com/css?family=Delius|Kalam|Pacifico|Short+Stack|Walter+Turncoat" rel="stylesheet">
  </head>

  <body>

<div class = "background">

<!-- Header -->

    <div class="static"><ul>
      <li><a href="../templates/loginHome.html"><img src="../resources/HomeIcon.png"></a>
      <li><a href="../templates/status.html">Status</a>
      <li><a href="../templates/uploadPage.html">Update</a>
      <li><a href="../templates/resources.html">Resources</a>
      <li><a href="../templates/index2.html">Site Info</a>
      <li style="float:right" class="user">Welcome, User</a>
    </div></ul>

<!-- Content -->

    <div class="static2">
    <div class="moving"><h1>Depression Hotline</h1>
    <section class="transbox">
    <p class="infoHeader">Site Purpose</p>
    <p class="info"><h3>Chapter 1

The hospital walls were really welcoming: white, plain and open to all imagination. Besides the few pictures of happy strangers enjoying their lives, an impossible thing here, the walls were empty. I stared at it. It stared back at me. I frowned. Can't they make it even just a little more enjoyable in here? Were butterflies and flowers just too much? At least throw in some polka-dots here and there. Even the window, that faced another wall outside, brought no happiness.

Then I heard it, a knock at the door. It surprised me. How long had it been since I had heard any sound besides my bed sheets or the nurse? I pranced to the door and was about to fling the door open when I stopped myself. I looked down. My hospital gown, concealing the years of training, dwarfed my body and made me feel like a girl for once. My feet were bare and skinny. Was this the correct way of greeting a visitor? Ah, well.

I swung open the door and painted my face with a toothy smile. "Hey!"

"Why, hello there, Catt. You haven't changed at all have you?" he laughed.

"Why would I go through the trouble of changing? I'll remain the cute, crazy me," I winked and hugged him. I smiled. He had used the coconut shampoo I had given him a few months ago for his one year anniversary with his fiancé. I told him it was so that he wouldn't smell horrible when they went out to eat but of course, we both knew there were other reasons for the gift.

I pulled out a foldable chair from under the bed and tinkered with it, trying to get it to open. It looked like it hadn't been used for years. I shook it and banged the back a few times. He saw my frustration and chuckled. I looked up from my work innocently.

"It's fine. I'll sit at the side of the bed," he said softly. He sat and I, who gave the chair one more good bang and gave up, jumped to sit next to him. We sat like that for a while and stared at the blank wall as if it had all the answers to our problems.

"Hey," he turned towards me. I turned and before I could answer, he leaned in. My hand shot up towards my mouth.

"You sure your fiancé will be fine with this if she finds out? That we're meeting?" I pretended to be worried, though I knew he was all mine.

"Don't talk about her. It'll ruin the mood," he answered and we proceeded. His lips touched mine and a shock coursed down my spine. My body was rejecting it but I didn't let that stop us. His soft hair brushed my forehead and his arm wrapped around my waist. He pulled back but I leaned in for more. He pushed me down and pinned me onto the bed. Where had he learned that move? Our lips touched and we became one again. My body relaxed for the first time in years and I felt like I could do anything. I closed my eyes, trying to enjoy this rare moment as much as possible.

Then, his cold glasses slid down his nose and touched my eyelids. My eyes flew open: the coldness brought me back to reality. I looked down. His eyes were still closed and he was still indulged in the kissing. His hand traveled towards my chest. Panic coursed through my veins. My left hand flew from under the sheets and grabbed his wrist before his hand could reach its destination. His lips left mine and a tear ran down my cheeks.

"Tears?" he whispered, his eyes burning deep into mine.</h3></p>
    </div></div>

<!-- Footer -->
</section>
</div>
</body>
