<!-- After login. Home page -->

<html>
  <head>
    <title>Depression</title>
    <link type="text/css" rel="stylesheet" href="resources/text.css"></link>
    <link href="https://fonts.googleapis.com/css?family=Delius|Kalam|Pacifico|Short+Stack|Walter+Turncoat" rel="stylesheet">
  </head>

  <body>

<div class = "background">

<!-- Header -->

    <div class="static"><ul>
      <li><a href="loginHome.html"><img src="resources/HomeIcon.png"></a>
      <li><a href="status.html">Status</a>
      <li><a href="uploadPage.html">Update</a>
      <li><a href="resources.html">Resources</a>
      <li><a href="index2.html">Site Info</a>
      <li style="float:right" class="user">Welcome, User</a>
    </div></ul>

<!-- Content -->

    <div class="static2">
    <div class="moving"><div class= "helloUser">Hello, User</div>
    <h3>What can we help you with today?</h3>
      <br><br>
    <div><a href="uploadPage.html"><button type="button">UPDATE</button></div>
      <br>
    <div><a href="status.html"><button type="button">STATUS</button></div>
    </div></div>

<!-- Footer -->
</section>
</div>
</html>
