<!-- Login page with login form -->

<html>
  <head>
    <title>Depression</title>
    <link type="text/css" rel="stylesheet" href="resources/text.css"></link>
    <link href="https://fonts.googleapis.com/css?family=Delius|Kalam|Pacifico|Short+Stack|Walter+Turncoat" rel="stylesheet">
  </head>

  <body>

<div class = "background">

<!-- Header -->

    <div class="static"><ul>
      <li><a href="index.html"><img src="resources/HomeIcon.png"></a>
      <li><a href="resources2.html">Resources</a>
      <li><a href="index3.html">Site Info</a>
    </div></ul>

<!-- Content -->

    <div class="static2">
    <div class="moving"><h1>Login</h1>
    <div><a href="loginHome.html"><button type="button">LOGIN</button></div>
    </div></div>

        <form action="/login" method="post">
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" name="email">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password">
            </div>

            <button type="submit" class="btn btn-warning btn-lg">Login</button>
        </form>
<!-- Footer -->
</section>
</div>
</body>
