<!-- After login. Resources tab. -->
<html>
  <head>
    <title>Depression</title>
    <link type="text/css" rel="stylesheet" href="resources/text.css"></link>
    <link href="https://fonts.googleapis.com/css?family=Delius|Kalam|Pacifico|Short+Stack|Walter+Turncoat" rel="stylesheet">
  </head>

  <body>

<div class = "background">

<!-- Header -->

    <div class="static"><ul>
      <li><a href="loginHome.html"><img src="resources/HomeIcon.png"></a>
      <li><a href="status.html">Status</a>
      <li><a href="uploadPage.html">Update</a>
      <li><a href="resources.html">Resources</a>
      <li><a href="index2.html">Site Info</a>
      <li style="float:right" class="user">Welcome, User</a>
    </div></ul>

<!-- Content -->

    <div class="static2">
    <div class="moving"><h1>Resources</h1>
    <section class="transbox">
      <div class="together"><p><h5><b>National Suicide Prevention Lifeline</b><br>
        This hotline provides 24/7 support to people who may be depressed or who
        have suicidal thoughts. This could help yourself or a friend out.<br>
        Phone number: 1-800-273-8255<br><br>

        <b>Georgia Tech Counseling Center</b><br>
        A campus counseling center that helps directly with Georgia Tech students
        who are struggling with their mental health. Services include individual
        counseling, group counseling, and couples counseling. <br>
        Phone number: 404-894-2575<br>
        Address: <br>
        353 Ferst Dr. NW, <br>
        Atlanta, GA 30313<br><br>

        <b>NIH National Institute of Mental Health (NIMH)</b><br>
        It is under the branch of National Institute of Health, a part of the US
        Department of Health and Services. The NIMH leads federal agency for research
        on mental disorders and you can donate to help continue research for mental
        health awareness. <br>
        Email: NIMHinfo@mail.nih.gov<br>
        Mailing Address:<br>
        6001 Executive Boulevard<br>
        Bethesda, MD 20892<br>

</h5></p>
</div></div></div>


<!-- Footer -->
</section>
</div>
</body>
