<!-- After login. Update page -->

<html>
  <head>
    <title>Depression</title>
    <link type="text/css" rel="stylesheet" href="resources/text.css"></link>
    <link href="https://fonts.googleapis.com/css?family=Delius|Kalam|Pacifico|Short+Stack|Walter+Turncoat" rel="stylesheet">
  </head>

  <body>

<div class = "background">

<!-- Header -->

    <div class="static"><ul>
      <li><a href="loginHome.html"><img src="resources/HomeIcon.png"></a>
      <li><a href="status.html">Status</a>
      <li><a href="uploadPage.html">Update</a>
      <li><a href="resources.html">Resources</a>
      <li><a href="index2.html">Site Info</a>
      <li style="float:right" class="user">Welcome, User</a>
    </div></ul>

<!-- Content -->

    <div class="static2">
    <div class="moving"><h1>Update</h1>
    <section class="transbox">
    <h3>Upload Images</h3>
    <h5>Upload pictures for analysis, and we will give you suggestions as to what you should do!</h5>
    <p>
      <form action="/upload" method= "post">
        <br>
        <input class="chooseFile" type="file" name="img" multiple>
        <input class="submit" type="submit" name="file-to-upload">
      </form>
    </p>
    </div></div>

<!-- Footer -->
    </section>
  </div>
  </body>
