<html>
  <head>
    <title>Depression</title>
    <link type="text/css" rel="stylesheet" href="../resources/text.css"></link>
    <link href="https://fonts.googleapis.com/css?family=Delius|Kalam|Pacifico|Short+Stack|Walter+Turncoat" rel="stylesheet">
  </head>

  <body>


<!-- Header -->

    <ul>
      <li><a href="../templates/index.html"><img src="../resources/HomeIcon.png"></a>
      <li><a href="../templates/resources.html">Resources</a>
      <li><a href="../templates/index2.html">Site Info</a>
      <li style="float:right"><a href="../templates/loginHome.html">Login</a>
    </ul>

<!-- Content -->

    <h1>Depression Hotline</h1>
    <section class="transbox">
    <p class="infoHeader">Site Purpose</p>
    <p class="info">Stuff stuff stuff stuff</p>

<!-- Footer -->

  </body>
