<!-- Beginning page tab -->

<html>
  <head>
    <title>Depression</title>
    <link type="text/css" rel="stylesheet" href="resources/text.css"></link>
    <link href="https://fonts.googleapis.com/css?family=Delius|Kalam|Pacifico|Short+Stack|Walter+Turncoat" rel="stylesheet">
  </head>

  <body>

<div class = "background">

<!-- Header -->

    <div class="static"><ul>
      <li><a href="index.html"><img src="resources/HomeIcon.png"></a>
      <li><a href="resources2.html">Resources</a>
      <li><a href="index3.html">Site Info</a>
      <li style="float:right"><a href="login.html">Login</a>
    </ul></div>

<!-- Content -->
    <div class="static2">
    <div class="moving"><h1 class="open">Depression Hotline</h1>
    <div><a href="login.html"><button type="button">GET STARTED</button></div>
    </div></div>

<!-- Footer -->
</section>
</div>
</body>
