<!-- Login page with login form -->

<html>
  <head>
    <title>Depression</title>
    <link type="text/css" rel="stylesheet" href="resources/text.css"></link>
    <link href="https://fonts.googleapis.com/css?family=Delius|Kalam|Pacifico|Short+Stack|Walter+Turncoat" rel="stylesheet">
  </head>

  <body>

<div class = "background">

<!-- Header -->

    <div class="static"><ul>
      <li><a href="index.html"><img src="resources/HomeIcon.png"></a>
      <li><a href="resources2.html">Resources</a>
      <li><a href="index3.html">Site Info</a>
    </div></ul>

<!-- Content -->

    <div class="static2">
    <div class="moving"><h1>Login</h1>
      <div class="together"><section class="login" style="float:left">
      <form action="/login" method="post">
      <div class="form-group">
          <label class="email">Email</label>
          <br>
          <input type="text" class="form-control" name="email" size="30">
      </div>
      <br>
      <div class="form-group">
          <label class="password">Password</label>
          <br>
          <input type="password" class="form-control" name="password" size="30">
      </div>
      <br><br>
      <button type="submit" class="btn btn-warning btn-lg">LOGIN</button>
    </form></section>

      <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp


      <section class="login" style="float:right">
      <form action="/login" method="post">
      <div class="form-group">
          <label class="email">Email</label>
          <br>
          <input type="text" class="form-control" name="email" size="30">
      </div>
      <br>
      <div class="form-group">
          <label class="password">Password</label>
          <br>
          <input type="password" class="form-control" name="password" size="30">
      </div>
      <br><br>
      <button type="submit" class="btn btn-warning btn-lg">SIGN UP</button>
    </form></section>
  </div></div></div>

<!-- Footer -->
</section>
</div>
</body>
