<html>
  <head>
    <title>Depression</title>
    <link type="text/css" rel="stylesheet" href="../resources/text.css"></link>
  </head>

  <body>

<!-- Header -->

    <a href="../templates/loginHome.html"><img src="../resources/HomeIcon.png"></a>
    <a href="../templates/loginHome.html"><img src="../resources/FemaleIcon.png"></a>

<!-- Content -->

  <div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">Gender</button>
    <div id="myDropdown" class="dropdown-content">
      <p>Female</p>
      <p>Male</p>
      <p>Other</P>
    </div>
  </div>

<!-- Footer -->

</html>
