<!-- After login. Status page -->

<html>

<head>
    <title>Depression</title>
    <link type="text/css" rel="stylesheet" href="resources/text.css">
    <link href="https://fonts.googleapis.com/css?family=Delius|Kalam|Pacifico|Short+Stack|Walter+Turncoat" rel="stylesheet">
</head>

<body>
    <div class="background">
        <!-- Header -->
        <div class="static">
            <ul>
                <li>
                    <a href="loginHome.html"><img src="resources/HomeIcon.png"></a>
                </li>
                <li><a href="status.html">Status</a></li>
                <li><a href="uploadPage.html">Update</a></li>
                <li><a href="resources.html">Resources</a></li>
                <li><a href="index2.html">Site Info</a></li>
                <li style="float:right" class="user">Welcome, User</li>
            </ul>
        </div>

        <!-- Content -->

        <div class="static2">
            <div class="moving">
                <h1>Status</h1>
                <section class="transbox">
                    <p class="info"><b><i>(Date)</i></b></p>
                    <div class="together">

                        <img class="pics status-image" src="resources/meme.png">

                        <p class="info">(Currently your analysis is that you need to chill on the memes and that this is a serious website. This is a disgrace to the website, and you should take this image down. I'm jk. ILY bb.)
                            <br>
                            <br>
                            <a href="status.html">
                                <button type="button">MORE DETAILS</button>
                            </a>
                        </p>


                        <div class="details-block">
                            <div class="details-label">Details:</div>

                            <div><b>Joy:</b></div>
                            <progress value=<%=screenshotCollections[0].averageAnalysis.joyAverage * 100%> max="100"></progress>

                            <div><b>Sadness:</b></div>
                            <progress value=<%=screenshotCollections[0].averageAnalysis.sadnessAverage * 100%> max="100"></progress>

                            <div><b>Fear:</b></div>
                            <progress value=<%=screenshotCollections[0].averageAnalysis.fearAverage * 100%> max="100"></progress>

                            <div><b>Anger:</b></div>
                            <progress value=<%=screenshotCollections[0].averageAnalysis.angerAverage * 100%> max="100"></progress>

                            <div><b>Disgust:</b></div>
                            <progress value=<%=screenshotCollections[0].averageAnalysis.disgustAverage * 100%> max="100"></progress>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>

<!-- Footer -->