<!-- After login. Update page -->

<html>

<head>
    <title>Depression</title>
    <link type="text/css" rel="stylesheet" href="resources/text.css">
    <link href="https://fonts.googleapis.com/css?family=Delius|Kalam|Pacifico|Short+Stack|Walter+Turncoat" rel="stylesheet">
</head>

<body>

    <div class="background">

        <!-- Header -->
        <div class="static">
            <ul>
                <li>
                    <a href="loginHome.html"><img src="resources/HomeIcon.png"></a>
                </li>
                <li><a href="status.html">Status</a></li>
                <li><a href="uploadPage.html">Update</a></li>
                <li><a href="resources.html">Resources</a></li>
                <li><a href="index2.html">Site Info</a></li>
                <li style="float:right" class="user">Welcome, User </li>
            </ul>
        </div>

        <!-- Content -->

        <div class="static2">
            <div class="moving">
                <h1>Update</h1>
                <section class="transbox">
                    <h3>Upload Images</h3>
                    <h5>Upload pictures for analysis, and we will give you suggestions as to what you should do!</h5>

                    <form action="/upload">
                        <input class="chooseFile" type="file" name="img" multiple>
                        <input class="submit" type="submit" name="file-to-upload">
                        <div class="date-block">
                            Date:
                            <input class="date-input" type="date">
                        </div>
                    </form>
                </section>
            </div>

            <!-- Footer -->

        </div>
    </div>
</body>